<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="left-menu">
    <li class="menu-items"><a href="index.html"><i class="fa fa-globe" aria-hidden="true"></i>MAP</a></li>
    <li class="menu-items"><a href="mngt.html"><i class="fa fa-users" aria-hidden="true"></i>MANAGEMENT</a></li>
    <li class="menu-items"><a href="report.html"><i class="fa fa-file-text" aria-hidden="true"></i>REPORT</a></li>
    <li class="menu-items"><a href="search.html"><i class="fa fa-search" aria-hidden="true"></i>SEARCH</a></li>
    <li class="menu-items"><a href="settings.html"><i class="fa fa-cogs" aria-hidden="true"></i>SETTINGS</a></li>
</ul>
</body>
</html>